<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <param name="/use_sim_time" value="true" />  
  
  <param name="robot_description2" command="$(find xacro)/xacro --inorder $(find tm_gazebo)/launch/camen.xacro" />
<!--   /home/jiayulin/robot_magic_tm12/tmr_ros1/src/tmr_ros1-noetic/tm_gazebo/launch/camen.xacro    -->
  <param name="robot_description2" command="$(find xacro)/xacro --inorder $(find tm_gazebo)/launch/camen.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf_camen" args="-urdf -model camen.xacro -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description2" />

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

</launch>
